@model Productivity_X.Models.UserCreateEvent;
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link href="~/css/family.css" rel="stylesheet">
<link href="~/css/materialdesignicons.min.css" rel="stylesheet">
<link href="~/css/vuetify.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/1e6384ea85.js" crossorigin="anonymous"></script>

<style>
    .title {
        justify-content: center;
        font-size: 25px;
        color: gold;
    }

    .round_icon {
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


    #createBtn {
        background-image: url(../test/img/c3.jpg);
    }

    #create {
        flex-wrap: nowrap;
        justify-content: center;
    }

    #btnclick {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #353535;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.40em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        background-color: #353535;
        color: #FFA700;
        text-align: center;
        transition: all 0.2s;
    }

        #btnclick:hover {
            background: #424242;
        }

    #HidebtnModal {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #353535;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.40em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        background-color: #353535;
        color: #FFA700;
        text-align: center;
        transition: all 0.2s;
    }

        #HidebtnModal:hover {
            background: #424242;
        }

    #createEventSubmit {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #353535;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.40em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        background-color: #353535;
        color: #FFA700;
        text-align: center;
        transition: all 0.2s;
    }

        #createEventSubmit:hover {
            background: #424242;
        }

    .container #eventModal1 {
        width: 50%;
        float: left;
    }

    .container #eventModal2 {
        width: 50%;
        float: right;
    }

    .container #rem {
        width: 50%;
        clear: both;
    }

    .modal-body {
        background-image: url('../Images/background2.jpeg');
    }

    .container #rem {
        background-color: #C2C2C2;
        opacity: 90%;
    }

    .container #guest {
        background-color: white;
    }

    small {
        background: rgba(91, 86, 85, .48);
        border-radius: 15px;
        color: #FFA700;
        font-size: 15px;
        font-weight: bold;
    }

    .inputs {
        height: 45px;
        opacity: 90%;
        background-color: #C2C2C2;
        color: black;
        font-weight: bold;
    }

    ::-webkit-input-placeholder {
        color: black;
        font-weight: bold;
    }

    ::-moz-placeholder {
        color: black;
        font-weight: bold;
    }
    #weekHeader {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: space-evenly;
        margin: 3%;
    }

    table, th, td {
        border: 1px solid black;
    }

    table {
        background-color: #7a7a7a;
    }

        table.center {
            
            margin-left: auto;
            margin-right: auto;
        }

    td {
        padding: 10px;
        font-weight: bold;
    }

    th {
        text-align: center;
    }

    tr {
        text-align: center;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    #deletebutton {
        display: inline-block;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        background-color: #000;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: red;
        font-weight: bolder;
        text-align: center;
        margin: auto;
        transition: all 0.2s;
    }

        #deletebutton:hover {
            background: #343434;
        }
</style>

<body style="        background-color: #1C1C1C;
        color: #fff;">
    <div id="app" style="width: 100%;padding-left: 12%;">
        <div id="weekHeader">
            <div id="create">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10">
                            <button id="btnclick" type="button">
                                Create Event
                            </button>

                            <div class="modal fade" id="login">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header text-center" style=" background-image: url('../Images/background2.jpeg'); border: none; border-bottom: 0 none; border-top:  rgba(43,42,40,255) solid 8px; border-right: rgba(53, 53, 53, 0.7) solid 8px; border-left: rgba(43,42,40,255) solid 8px;">
                                            <h3 class="modal-title w-100" style="color: #FFA700; font-weight: bold; background: rgba(0, 132, 255, 0.7); border-radius: 25px;">Create Event</h3>

                                        </div>
                                        <div class="modal-body" style=" border-right: rgba(53, 53, 53, 0.7) solid 8px; border-left: rgba(43,42,40,255) solid 8px;">
                                            <form autocomplete="off" asp-action="CreateEvent" id="createform">
                                                <div class="container" id="eventModal1">
                                                    <div class="form-group" id="eventNm">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event Name&nbsp;</small>
                                                        <input class="form-control inputs" type="text"
                                                               placeholder="Event Name" id="eventName" asp-for="eventName" />

                                                    </div>
                                                    <div class="form-group" id="eventStart">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event start time&nbsp;</small>
                                                        <input class="form-control inputs" type="time" name="start_at"
                                                               min="07:00" max="23:00" required asp-for="start_at" />
                                                    </div>

                                                    <div class="form-group" id="eventLocation">
                                                        <small>&nbsp;Event Location&nbsp;</small>
                                                        <input class="form-control inputs" type="text"
                                                               placeholder="Location" id="location" asp-for="location" />
                                                    </div>

                                                    <div class="form-group" id="eventDesc">
                                                        <small>&nbsp;Event Description (100 characters)&nbsp;</small>
                                                        <textarea name="description" cols="41" rows="2"
                                                                  placeholder="Description" id="description" maxlength="100"
                                                                  style="background-color: #C2C2C2; border-radius: 5px; opacity: 90%;"></textarea>
                                                        <input id="description" asp-for="description" />

                                                    </div>

                                                </div>

                                                <div class="container" id="eventModal2">
                                                    <div class="form-group" id="eventDate">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event Date&nbsp;</small>
                                                        <input class="form-control inputs" type="date" name="event_date" asp-for="event_date" />
                                                    </div>
                                                    <div class="form-group" id="eventStart">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event end time&nbsp;</small>
                                                        <input class="form-control inputs" type="time" name="end_at"
                                                               min="07:00" max="00:00" required asp-for="end_at" />
                                                    </div>

                                                    <div class="form-group" id="eventCategory">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event Category&nbsp;</small>
                                                        <select asp-for="category" style="background-color: #C2C2C2; opacity: 90%; width: 360px; height: 45px; border-radius: 5px;">
                                                            <option value="" disabled selected hidden>Choose Category...</option>
                                                            <option value="Default">
                                                                Default
                                                            </option>
                                                            <option value="Friends">
                                                                Friends
                                                            </option>

                                                            @{
                                                                List<Categories> categorylist = new List<Categories>();
                                                                categorylist = ViewData["categoryobjects"] as List<Categories>;
                                                                if (categorylist != null)
                                                                {
                                                                    for (int counter = 0; counter < categorylist.Count; counter++)
                                                                    {
                                                                        <option value="@categorylist[counter].GetCategoryName()">
                                                                            @categorylist[counter].GetCategoryName().Trim(';')
                                                                        </option>
                                                                    }
                                                                }
                                                            }
                                                        </select>

                                                    </div>
                                                    <div class="form-group" id="eventFriend" style="padding-right: 25px;">
                                                        <small>&nbsp;Invite a Friend (optional)&nbsp;</small>
                                                        <select asp-for="friendUsername" style="background-color: #C2C2C2; opacity: 90%; width: 360px; height: 45px; border-radius: 5px;">
                                                            <option value="" disabled selected hidden>Choose friend...</option>

                                                            @*Place friend code here*@

                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="container" id="rem" style="height: 46px; margin-top: 40px; border-radius: 5px; opacity: 90%;">
                                                    <div class="form-group" id="eventNotifCheck">
                                                        <input class="form-controlCheck" type="checkbox"
                                                               id="notification" name="notification" asp-for="notification" />
                                                        <label for="notification" style="color:black;">Reminder?</label>

                                                        <label for="reminders"style="color:black;">&emsp;&emsp; Minutes:</label>
                                                        <input class="form-controlSpinner" type="number"
                                                               min="5" max="60" step="5" value="15" size="1"
                                                               placeholder="Minutes" id="reminders"
                                                               style="background-color: white; border-width: 2px; border-style: solid; border-color: #777474" asp-for="reminder" />

                                                    </div>
                                                </div>
                                            </form>

                                        </div>

                                        <div class="modal-footer" style="background-image: url('../Images/background2.jpeg'); border-top: 0 none;  border-right: rgba(53, 53, 53, 0.7) solid 8px; border-left: rgba(43,42,40,255) solid 8px; border-bottom: rgba(53, 53, 53, 0.7) solid 8px;">
                                            <div class="container" style="color: #FFA700; font-weight: bold; background: rgba(0, 132, 255, 0.7); border-radius: 25px;">
                                                <button type="button" id="HidebtnModal" class="btn btn-primary mr-auto">Close</button>
                                                <button type="submit" form="createform" id="createEventSubmit" class="btn btn-primary float-right">Create</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="title">List of Events</div>
            <div>
                 

            </div>
        </div>


        <table id="categoriesTable" class="center" style="width:1000px; z-index: 5;">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Notification</th>
                    <th>Guest</th>
                    <th>Delete</th>
                </tr>
                @{
                    List<Events> eventlist = new List<Events>();
                    eventlist = ViewData["eventobjects"] as List<Events>;
                    for (int counter = 0; counter < eventlist.Count; counter++)
                    {
                        <tr style="background-color:@eventlist[counter].GetEventColor()">
                            <td value="@eventlist[counter].GetEventName()">
                                @eventlist[counter].GetEventName().Trim(';')
                            </td>
                            <td value="@eventlist[counter].GetDate()">
                                @eventlist[counter].GetDate()
                            </td>
                            <td value="@eventlist[counter].StartTime()">
                                @eventlist[counter].StartTime()
                            </td>
                            <td value="@eventlist[counter].EndTime()">
                                @eventlist[counter].EndTime()
                            </td>
                            <td value="@eventlist[counter].GetCategory()">
                                @eventlist[counter].GetCategory()
                            </td>
                            <td value="@eventlist[counter].GetLocation()">
                                @eventlist[counter].GetLocation()
                            </td>
                            <td value="@eventlist[counter].GetDescription()">
                                @eventlist[counter].GetDescription()
                            </td>
                            <td value="@eventlist[counter].GetNotification()">
                                @eventlist[counter].GetNotification()
                            </td>
                            <td value="@eventlist[counter].IsThereAGuest()">
                                @eventlist[counter].IsThereAGuest()
                            </td>
                            <td>
                                <button id="deletebutton" type="button" value="@eventlist[counter]" onclick="window.location.href = '@Url.Action("DeleteEvent", "MainWindow")?eventid=@eventlist[counter].GetEventID()'">
                                    <i class="fas fa-trash fa-lg"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnclick").click(function () {
            $("#login").modal('show');
        });

        $("#HidebtnModal").click(function () {
            $("#login").modal('hide');
        });
    });
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}