@model Productivity_X.Models.ProfilePic;
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"] - Productivity X</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/mainLayout.css" />
	<script src="https://kit.fontawesome.com/1e6384ea85.js" crossorigin="anonymous"></script>

	<!--	section scripts{
			<script type="text/javascript">
				// Add the following code if you want the name of the file appear on select
				$(".custom-file-input").on("change", function () {
					var fileName = $(this).val().split("\\").pop();
					$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
				});
			</script>
		}
	-->
</head>

<style>
	.dropbtn {
		background: url("@TempData["ProfilePicFromDB"]");
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: none;
		background-size: cover;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		right: 4px;
		left: auto;
		background-color: #f1f1f1;
		min-width: 100px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

	label:hover {
		background-color: #dcdcdd;
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown:hover .dropbtn {
		background-color: #3e8e41;
	}
</style>



<body>

	<div class="wrapper">
		@RenderBody()
		<div class="sidebar">
			<div id="logo">
				<img src="~/Images/ProductivityXLogo.png" alt="Productivity X Logo" />
			</div>
			<ul>
				<li><a href='@Url.Action("Main", "MainWindow")'><i class="fas fa-home"></i>Home</a></li>
				<li><a href='@Url.Action("Weekly", "MainWindow")'><i class="fas fa-calendar-week"></i>Weekly</a></li>
				<li><a href='@Url.Action("Today", "MainWindow")'><i class="fas fa-calendar-day"></i>Today</a></li>
				<li><a href='@Url.Action("Events", "MainWindow")'><i class="fas fa-list"></i>Events</a></li>
				<li><a href='@Url.Action("ToDo", "MainWindow")'><i class="fas fa-check-circle"></i>To-Do</a></li>
				<li><a href='@Url.Action("Categories", "MainWindow")'><i class="fas fa-tags"></i>Categories</a></li>
				<li><a href='@Url.Action("Friends", "MainWindow")'><i class="fas fa-user-friends"></i>Friends</a></li>
			</ul>
		</div>

	</div>

	<div style="position: absolute; top: 0; right: 0; padding-top: 32px; padding-right: 32px;">
		<div class="dropdown">
			<button class="dropbtn"></button>
			<div class="dropdown-content">
				<a href="@Url.Action("Logout", "MainWindow")" style="text-align: center; ">Logout</a>

				<form asp-controller="MainWindow" asp-action="UploadImage" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label style="color:black; text-align:center">Make sure image chosen is saved in wwwroot/Images file before continuing! Press "upload image" when finished!</label>
						<input asp-for="MyImage" type="file" id="user_image" style="display: normal; color:black" />
						<div class="form-group">
							<input type="submit" value="Upload Image" class="btn btn-default" style="color:black; text-align:center" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>